<div class="home-container">
  <app-navbar8>
    <ng-template #page4Description>
      <div class="home-fragment100">
        <span class="home-text100">Page Four Description</span>
      </div>
    </ng-template>
    <ng-template #action1>
      <div class="home-fragment101">
        <span class="home-text101">Main Action</span>
      </div>
    </ng-template>
    <ng-template #link2>
      <div class="home-fragment102">
        <span class="home-text102">Link 2</span>
      </div>
    </ng-template>
    <ng-template #page1>
      <div class="home-fragment103">
        <span class="home-text103">Page One</span>
      </div>
    </ng-template>
    <ng-template #link1>
      <div class="home-fragment104">
        <span class="home-text104">Link 1</span>
      </div>
    </ng-template>
    <ng-template #page4>
      <div class="home-fragment105">
        <span class="home-text105">Page Four</span>
      </div>
    </ng-template>
    <ng-template #page2>
      <div class="home-fragment106">
        <span class="home-text106">Page Two</span>
      </div>
    </ng-template>
    <ng-template #link4>
      <div class="home-fragment107">
        <span class="home-text107">Link 4</span>
      </div>
    </ng-template>
    <ng-template #page1Description>
      <div class="home-fragment108">
        <span class="home-text108">Page One Description</span>
      </div>
    </ng-template>
    <ng-template #page2Description>
      <div class="home-fragment109">
        <span class="home-text109">Page Two Description</span>
      </div>
    </ng-template>
    <ng-template #link3>
      <div class="home-fragment110">
        <span class="home-text110">Link 3</span>
      </div>
    </ng-template>
    <ng-template #page3>
      <div class="home-fragment111">
        <span class="home-text111">Page Three</span>
      </div>
    </ng-template>
    <ng-template #page3Description>
      <div class="home-fragment112">
        <span class="home-text112">Page Three Description</span>
      </div>
    </ng-template>
    <ng-template #action2>
      <div class="home-fragment113">
        <span class="home-text113">Secondary Action</span>
      </div>
    </ng-template>
  </app-navbar8>
  <app-hero17>
    <ng-template #action2>
      <div class="home-fragment114">
        <span class="home-text114">Secondary action</span>
      </div>
    </ng-template>
    <ng-template #action1>
      <div class="home-fragment115">
        <span class="home-text115">Main action</span>
      </div>
    </ng-template>
    <ng-template #heading1>
      <div class="home-fragment116">
        <span class="home-text116">Medium length hero headline goes here</span>
      </div>
    </ng-template>
    <ng-template #content1>
      <div class="home-fragment117">
        <span class="home-text117">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </span>
      </div>
    </ng-template>
  </app-hero17>
  <app-features24>
    <ng-template #feature3Description>
      <div class="home-fragment118">
        <span class="home-text118">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </span>
      </div>
    </ng-template>
    <ng-template #feature3Title>
      <div class="home-fragment119">
        <span class="home-text119">Feature 3 Title</span>
      </div>
    </ng-template>
    <ng-template #feature2Description>
      <div class="home-fragment120">
        <span class="home-text120">
          Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </span>
      </div>
    </ng-template>
    <ng-template #feature1Title>
      <div class="home-fragment121">
        <span class="home-text121">Feature 1 Title</span>
      </div>
    </ng-template>
    <ng-template #feature1Description>
      <div class="home-fragment122">
        <span class="home-text122">
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </span>
      </div>
    </ng-template>
    <ng-template #feature2Title>
      <div class="home-fragment123">
        <span class="home-text123">Feature 2 Title</span>
      </div>
    </ng-template>
  </app-features24>
  <app-cta26>
    <ng-template #heading1>
      <div class="home-fragment124">
        <span class="home-text124">Ready to get started?</span>
      </div>
    </ng-template>
    <ng-template #content1>
      <div class="home-fragment125">
        <span class="home-text125">
          Sign up now to access exclusive content and features.
        </span>
      </div>
    </ng-template>
    <ng-template #action1>
      <div class="home-fragment126">
        <span class="home-text126">Sign Up</span>
      </div>
    </ng-template>
  </app-cta26>
  <app-features25>
    <ng-template #feature3Description>
      <div class="home-fragment127">
        <span class="home-text127">
          We prioritize the security of your information with advanced
          encryption methods.
        </span>
      </div>
    </ng-template>
    <ng-template #feature1Description>
      <div class="home-fragment128">
        <span class="home-text128">
          Our website offers a simple and intuitive interface for easy
          navigation.
        </span>
      </div>
    </ng-template>
    <ng-template #feature2Title>
      <div class="home-fragment129">
        <span class="home-text129">24/7 Customer Support</span>
      </div>
    </ng-template>
    <ng-template #feature1Title>
      <div class="home-fragment130">
        <span class="home-text130">User-friendly Interface</span>
      </div>
    </ng-template>
    <ng-template #feature2Description>
      <div class="home-fragment131">
        <span class="home-text131">
          Get assistance anytime with our round-the-clock customer support team.
        </span>
      </div>
    </ng-template>
    <ng-template #feature3Title>
      <div class="home-fragment132">
        <span class="home-text132">Secure Data Encryption</span>
      </div>
    </ng-template>
  </app-features25>
  <app-pricing14>
    <ng-template #plan3Price>
      <div class="home-fragment133">
        <span class="home-text133">$29.99/month</span>
      </div>
    </ng-template>
    <ng-template #plan3Action>
      <div class="home-fragment134">
        <span class="home-text134">Upgrade Now</span>
      </div>
    </ng-template>
    <ng-template #plan11>
      <div class="home-fragment135">
        <span class="home-text135">Basic plan</span>
      </div>
    </ng-template>
    <ng-template #plan1Action>
      <div class="home-fragment136">
        <span class="home-text136">Sign Up Now</span>
      </div>
    </ng-template>
    <ng-template #plan31>
      <div class="home-fragment137">
        <span class="home-text137">Enterprise plan</span>
      </div>
    </ng-template>
    <ng-template #plan3Feature41>
      <div class="home-fragment138">
        <span class="home-text138">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan1Feature2>
      <div class="home-fragment139">
        <span class="home-text139">Feature 2 included</span>
      </div>
    </ng-template>
    <ng-template #plan2Feature11>
      <div class="home-fragment140">
        <span class="home-text140">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan3Feature51>
      <div class="home-fragment141">
        <span class="home-text141">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan2Feature41>
      <div class="home-fragment142">
        <span class="home-text142">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan2Feature2>
      <div class="home-fragment143">
        <span class="home-text143">Feature 2 included</span>
      </div>
    </ng-template>
    <ng-template #plan3Feature21>
      <div class="home-fragment144">
        <span class="home-text144">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan2Feature4>
      <div class="home-fragment145">
        <span class="home-text145">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan2Yearly>
      <div class="home-fragment146">
        <span class="home-text146">$199.99/year</span>
      </div>
    </ng-template>
    <ng-template #plan1Action1>
      <div class="home-fragment147">
        <span class="home-text147">Get started</span>
      </div>
    </ng-template>
    <ng-template #plan2Action>
      <div class="home-fragment148">
        <span class="home-text148">Get Started</span>
      </div>
    </ng-template>
    <ng-template #plan3Feature1>
      <div class="home-fragment149">
        <span class="home-text149">Feature 1 included</span>
      </div>
    </ng-template>
    <ng-template #plan2Feature3>
      <div class="home-fragment150">
        <span class="home-text150">Feature 3 included</span>
      </div>
    </ng-template>
    <ng-template #plan1Price1>
      <div class="home-fragment151">
        <span class="home-text151">$200/yr</span>
      </div>
    </ng-template>
    <ng-template #plan2>
      <div class="home-fragment152">
        <span class="home-text152">Standard Plan</span>
      </div>
    </ng-template>
    <ng-template #plan2Feature21>
      <div class="home-fragment153">
        <span class="home-text153">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan2Action1>
      <div class="home-fragment154">
        <span class="home-text154">Get started</span>
      </div>
    </ng-template>
    <ng-template #plan3Feature2>
      <div class="home-fragment155">
        <span class="home-text155">Feature 2 included</span>
      </div>
    </ng-template>
    <ng-template #content1>
      <div class="home-fragment156">
        <span class="home-text156">Choose the perfect plan for you</span>
      </div>
    </ng-template>
    <ng-template #plan2Feature1>
      <div class="home-fragment157">
        <span class="home-text157">Feature 1 included</span>
      </div>
    </ng-template>
    <ng-template #heading1>
      <div class="home-fragment158">
        <span class="home-text158">Our Pricing Plans</span>
      </div>
    </ng-template>
    <ng-template #plan3Feature31>
      <div class="home-fragment159">
        <span class="home-text159">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan1>
      <div class="home-fragment160">
        <span class="home-text160">Basic Plan</span>
      </div>
    </ng-template>
    <ng-template #plan21>
      <div class="home-fragment161">
        <span class="home-text161">Business plan</span>
      </div>
    </ng-template>
    <ng-template #plan1Feature11>
      <div class="home-fragment162">
        <span class="home-text162">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan1Feature21>
      <div class="home-fragment163">
        <span class="home-text163">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan3Feature5>
      <div class="home-fragment164">
        <span class="home-text164">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan2Yearly1>
      <div class="home-fragment165">
        <span class="home-text165">or $29 monthly</span>
      </div>
    </ng-template>
    <ng-template #plan2Price>
      <div class="home-fragment166">
        <span class="home-text166">$19.99/month</span>
      </div>
    </ng-template>
    <ng-template #plan3Yearly1>
      <div class="home-fragment167">
        <span class="home-text167">or $49 monthly</span>
      </div>
    </ng-template>
    <ng-template #plan2Feature31>
      <div class="home-fragment168">
        <span class="home-text168">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan3Feature11>
      <div class="home-fragment169">
        <span class="home-text169">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan1Yearly1>
      <div class="home-fragment170">
        <span class="home-text170">or $20 monthly</span>
      </div>
    </ng-template>
    <ng-template #plan2Price1>
      <div class="home-fragment171">
        <span class="home-text171">$299/yr</span>
      </div>
    </ng-template>
    <ng-template #plan3Yearly>
      <div class="home-fragment172">
        <span class="home-text172">$299.99/year</span>
      </div>
    </ng-template>
    <ng-template #plan3Feature4>
      <div class="home-fragment173">
        <span class="home-text173">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan3Price1>
      <div class="home-fragment174">
        <span class="home-text174">$499/yr</span>
      </div>
    </ng-template>
    <ng-template #plan1Feature31>
      <div class="home-fragment175">
        <span class="home-text175">Feature text goes here</span>
      </div>
    </ng-template>
    <ng-template #plan1Feature3>
      <div class="home-fragment176">
        <span class="home-text176">Feature 3 included</span>
      </div>
    </ng-template>
    <ng-template #plan1Yearly>
      <div class="home-fragment177">
        <span class="home-text177">$99.99/year</span>
      </div>
    </ng-template>
    <ng-template #plan1Feature1>
      <div class="home-fragment178">
        <span class="home-text178">Feature 1 included</span>
      </div>
    </ng-template>
    <ng-template #plan3Feature3>
      <div class="home-fragment179">
        <span class="home-text179">Feature 3 included</span>
      </div>
    </ng-template>
    <ng-template #content2>
      <div class="home-fragment180">
        <span class="home-text180">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <span [innerHTML]="rawdtxa"></span>
          </span>
          <span><span [innerHTML]="raw70g7"></span></span>
        </span>
      </div>
    </ng-template>
    <ng-template #plan3Action1>
      <div class="home-fragment181">
        <span class="home-text183">Get started</span>
      </div>
    </ng-template>
    <ng-template #plan1Price>
      <div class="home-fragment182">
        <span class="home-text184">$9.99/month</span>
      </div>
    </ng-template>
    <ng-template #plan3>
      <div class="home-fragment183">
        <span class="home-text185">Premium Plan</span>
      </div>
    </ng-template>
  </app-pricing14>
  <app-steps2>
    <ng-template #step1Description>
      <div class="home-fragment184">
        <span class="home-text186">
          Sign up for an account to access exclusive features and content.
        </span>
      </div>
    </ng-template>
    <ng-template #step3Description>
      <div class="home-fragment185">
        <span class="home-text187">
          Reach out to our support team for any assistance or inquiries.
        </span>
      </div>
    </ng-template>
    <ng-template #step2Title>
      <div class="home-fragment186">
        <span class="home-text188">Explore Our Services</span>
      </div>
    </ng-template>
    <ng-template #step2Description>
      <div class="home-fragment187">
        <span class="home-text189">
          Discover the range of services we offer to meet your needs.
        </span>
      </div>
    </ng-template>
    <ng-template #step1Title>
      <div class="home-fragment188">
        <span class="home-text190">Create an Account</span>
      </div>
    </ng-template>
    <ng-template #step3Title>
      <div class="home-fragment189">
        <span class="home-text191">Get Support</span>
      </div>
    </ng-template>
    <ng-template #step4Description>
      <div class="home-fragment190">
        <span class="home-text192">
          Follow us on social media to stay updated on news and promotions.
        </span>
      </div>
    </ng-template>
    <ng-template #step4Title>
      <div class="home-fragment191">
        <span class="home-text193">Stay Connected</span>
      </div>
    </ng-template>
  </app-steps2>
  <app-testimonial17>
    <ng-template #author2Position>
      <div class="home-fragment192">
        <span class="home-text194">Marketing Manager, Company XYZ</span>
      </div>
    </ng-template>
    <ng-template #author1Position>
      <div class="home-fragment193">
        <span class="home-text195">CEO, Company ABC</span>
      </div>
    </ng-template>
    <ng-template #author1Name>
      <div class="home-fragment194">
        <span class="home-text196">John Doe</span>
      </div>
    </ng-template>
    <ng-template #author3Name>
      <div class="home-fragment195">
        <span class="home-text197">Alice Johnson</span>
      </div>
    </ng-template>
    <ng-template #review2>
      <div class="home-fragment196">
        <span class="home-text198">
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </span>
      </div>
    </ng-template>
    <ng-template #author2Name>
      <div class="home-fragment197">
        <span class="home-text199">Jane Smith</span>
      </div>
    </ng-template>
    <ng-template #author4Position>
      <div class="home-fragment198">
        <span class="home-text200">CTO, Tech Solutions Ltd.</span>
      </div>
    </ng-template>
    <ng-template #author4Name>
      <div class="home-fragment199">
        <span class="home-text201">Michael Brown</span>
      </div>
    </ng-template>
    <ng-template #content1>
      <div class="home-fragment200">
        <span class="home-text202">
          Read what our customers have to say about us.
        </span>
      </div>
    </ng-template>
    <ng-template #author3Position>
      <div class="home-fragment201">
        <span class="home-text203">Founder, Startup123</span>
      </div>
    </ng-template>
    <ng-template #review1>
      <div class="home-fragment202">
        <span class="home-text204">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </span>
      </div>
    </ng-template>
    <ng-template #heading1>
      <div class="home-fragment203">
        <span class="home-text205">Testimonials</span>
      </div>
    </ng-template>
    <ng-template #review3>
      <div class="home-fragment204">
        <span class="home-text206">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur.
        </span>
      </div>
    </ng-template>
    <ng-template #review4>
      <div class="home-fragment205">
        <span class="home-text207">
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.
        </span>
      </div>
    </ng-template>
  </app-testimonial17>
  <app-contact10>
    <ng-template #content1>
      <div class="home-fragment206">
        <span class="home-text208">
          Feel free to reach out to us for any inquiries or support.
        </span>
      </div>
    </ng-template>
    <ng-template #location1Description>
      <div class="home-fragment207">
        <span class="home-text209">123 Street Name, City, Country</span>
      </div>
    </ng-template>
    <ng-template #heading1>
      <div class="home-fragment208">
        <span class="home-text210">Contact Us</span>
      </div>
    </ng-template>
    <ng-template #location2Description>
      <div class="home-fragment209">
        <span class="home-text211">456 Street Name, City, Country</span>
      </div>
    </ng-template>
    <ng-template #location1>
      <div class="home-fragment210">
        <span class="home-text212">Main Office</span>
      </div>
    </ng-template>
    <ng-template #location2>
      <div class="home-fragment211">
        <span class="home-text213">Support Center</span>
      </div>
    </ng-template>
  </app-contact10>
  <app-footer4>
    <ng-template #link5>
      <div class="home-fragment212">
        <span class="home-text214">Privacy Policy</span>
      </div>
    </ng-template>
    <ng-template #link3>
      <div class="home-fragment213"><span class="home-text215">FAQs</span></div>
    </ng-template>
    <ng-template #link1>
      <div class="home-fragment214">
        <span class="home-text216">About Us</span>
      </div>
    </ng-template>
    <ng-template #termsLink>
      <div class="home-fragment215">
        <span class="home-text217">Terms of Service</span>
      </div>
    </ng-template>
    <ng-template #link2>
      <div class="home-fragment216">
        <span class="home-text218">Contact Us</span>
      </div>
    </ng-template>
    <ng-template #link4>
      <div class="home-fragment217">
        <span class="home-text219">Terms and Conditions</span>
      </div>
    </ng-template>
    <ng-template #cookiesLink>
      <div class="home-fragment218">
        <span class="home-text220">Cookie Policy</span>
      </div>
    </ng-template>
    <ng-template #privacyLink>
      <div class="home-fragment219">
        <span class="home-text221">Privacy Policy</span>
      </div>
    </ng-template>
  </app-footer4>
</div>
